<!doctype html>
<html>
  <head>
    <title>Pets in Hats</title>
  </head>
  <body>
    <h1>Get ready to see an animal wearing a hat!</h1>
  </body>
  #Form method goes here
  #need option for pets (cat, dog), hats (party, top, bucket)
  <form method = "POST">
    <h4>choose an animal</h4>
    <br>
    <input type = "radio" name = "user_animal" value = "dog">Dog<br>
    <input type = "radio" name = "user_animal" value = "cat">Cat<br>
    <h4>CHOOSE A HAT</h4>
    <br>
    <input type = "radio" name = "user_animal" value = "party"> Party Hat <br>
    <input type = "radio" name = "user_animal" value = "top"> Top Hat <br>
    <input type = "radio" name = "user_animal" value = "bucket"> Bucket Hat <br>
    <input type = "submit" value = "Get your animal!">
  </form>
</html>