#this will display animal in the hat
<!doctype html>
<html>
  <head>
    <title>Your Pet!</title>
  </head>
  <body>
    <h1>Get your animal!</h1>
    <h2> your pet!</h2>
    <img src = <%=animal_pic%>>
  </body>
</html>